@tailwind base;
@tailwind components;

@layer utilities {
  @variants dark {
    .bg-dark-custom {
      --tw-bg-opacity: 1;
      background-color: rgba(18, 26, 33, var(--tw-bg-opacity));
    }
  }
}

.toggle-checkbox {
  /* border-color: rgb(96, 165, 250); */
  /*border-blue-400*/
  /* background-color: rgb(251, 191, 36); */
  /*bg-yellow-400*/
}

.toggle-checkbox + .toggle-label {
  /* background-color: rgb(96, 165, 250); */
}

.toggle-checkbox:checked {
  right: 0;
  /* border-color: rgba(75, 85, 99, 1); */
  /*bg-gray-600*/
  /* background-color: rgb(156, 163, 175); */
  /*bg-gray-400*/
}
.toggle-checkbox:checked + .toggle-label {
  background-color: rgba(75, 85, 99, 1);
}

@tailwind utilities;
